.container {
  position: relative;
  display: inline-block;
}

.container button {
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dropdown li {
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown li:hover {
  background-color: #f1f1f1;
}

.containerAdmin {
  display: flex;
  flex-direction: row;
  word-wrap: break-word;
  background-color: whitesmoke;
  background-clip: border-box;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  max-height: 400vh;
  border: 0;
  box-shadow: 0 10px 10px 20px #b0b8d617, 10px 10px 15px -5px #b0b8d6;
  overflow-x: hidden;
  overflow-y: hidden;
}

.containerHomeAdmin {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: flex-start;
  margin: 0px 20px;
}

.containerSuperior {
  width: 100%;
  height: 7rem;
  margin: 20px;
}

.containerProducts {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: auto;
  margin-left: 1rem;
  background-color: rgb(255, 255, 255);
  margin-top: 1rem;
  height: 90vh;
  margin-right: 4rem;
}

.statSales {
  display: flex;
  flex-direction: row;
  height: 500px;
  padding-top: 2rem;
}


.line {
  display: flex;
  flex-direction: row;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 55%;
  height: 40%;
  margin-left: 1rem;
  background-color: rgb(255, 255, 255);
  margin-top: 1rem;
}
