/* sec-Home*/

.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 300px;
  height: 300px;
}

.text_container_subtitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.image-container {
  flex: 1;
}

.text-container span {
  font-size: 22px;
}

.input-container {
  display: flex;
  margin-top: 10px;
}

.input-container input {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-container {
  margin-left: 2rem;
}

.video-container {
  width: 100vh;
  max-width: 490px;
  margin: 0 auto;
}
.video-container video{
  width: 100%;
  height: auto;
  border-radius: 1rem;
  box-shadow:4px 6px 10px rgba(0, 0, 0, 0.6);
}

@media (max-width: 768px) {
  .video-container {
    max-width: 100%;
    padding: 0 1rem;
  }
}

.text-container {
  flex: 1;
  margin-bottom: 20px;
}

.image-container {
  flex: 1;
}

.image-container img {
  width: 100%;
  height: auto;
}

.indexInZ{
  z-index: -200;
}

.carouselHero{
  margin: auto;
}

/* responsive sec-home*/
@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}

/*sec los mas vendidos*/
.sec-benefits {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-benefits{
  width: 100%;
  max-width: 768px;
  margin: auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  text-align: center;
}

.title {
  font-weight: normal;
  margin-bottom: 10px;
}

.bold {
  font-weight: bold;
}

/*section-feature- con icons*/

.sec-features{
  width: 100%;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec-features .intro, .sec-benefits .intro {
  text-align: center;
}
.sec-features .intro h3, .sec-benefits .intro h3 {
  font-size: 1rem;
}
.sec-features .intro p, .sec-benefits .intro p {
  font-size: 1rem;
  color: #888;
}
.sec-features .features, .sec-benefits .features {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.sec-features .features .text, .sec-benefits .features .text {
  padding: 2rem 0;
  flex: 1;
}
.sec-features .features .text .feature, .sec-benefits .features .text .feature {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sec-features .features .text .feature .description, .sec-benefits .features .text .feature .description {
  margin-left: 1rem;
  max-width: 20rem;
}
.sec-features .features .text .feature .description .description-title, .sec-benefits .features .text .feature .description .description-title {
  font-size: 1.15rem;
}
.sec-features .features .text .feature .description .description-text, .sec-benefits .features .text .feature .description .description-text {
  font-size: 0.8rem;
}
.sec-features .features .image img {
  max-width: 30rem;
  height: auto;
  border-radius: 1rem;
  box-shadow:4px 6px 10px rgba(0, 0, 0, 0.6);
}

.icon-sm{
  padding: 0.4rem 0.7rem;
  border-radius: 50%;
  box-shadow: 0 0 10px #00000040;
}

/* Estilos responsivos para pantallas más pequeñas */
@media (max-width: 768px) {
  .sec-features {
    padding: 1.5rem;
  }

  .sec-features .features {
    flex-direction: column;
    align-items: flex-start;
  }

  .sec-features .features .text {
    padding: 1rem 0;
  }

  .sec-features .features .text .feature {
    flex-direction: column;
    align-items: flex-start;
  }

  .sec-features .features .text .feature .description {
    margin-left: 0;
    margin-top: 0.5rem;
    max-width: 100%;
  }

  .sec-features .features .image img {
    max-width: 100%;
  }
}


/*sec-video*/
.sec-video{
  max-width: 100%;
}
.sec-video video{
  max-width: 100%;
}

/*sec-benefits*/
/*esta incluyendo el diseño de la sec-features en temas de ordenanmiento y ubicación*/

.sec-promotions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  font-size: 24px;
}

/*sec-kpis*/
.sec-kpis {
  width: 100%;
  background-color: #2D232B;
  color: white;
  padding: 4rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  box-shadow:4px 6px 10px rgba(0, 0, 0, 0.6);
}

.kpi {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.kpi .number {
  font-size: 3.5rem;
  font-weight: 600;
}
.kpi .desc {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.6666666667);
}
