.productContainer {
    max-width: 150%;
    padding: none;
    margin: none;
    display: flex;
    flex-wrap: wrap;
    background-color: #4e55d9d0;
    padding: 40px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}