.sec-footer-cta {
  background-color: #2C3357;
  width: 100%;
  padding: 5rem;
  display: flex;
  flex-direction: row;
  color: #ddd;
}
.sec-footer-cta .footer-cta {
  width: 100%;
  margin: 1rem;
}
.sec-footer-cta .footer-text {
  width: 100%;
}
.sec-footer-cta .footer-text .cta-title {
  font-size: 1.2rem;
}
.sec-footer-cta .footer-text .cta-description {
  font-size: 0.9rem;
}
/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
  .sec-footer-cta {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
}

.sec-footer-cta .footer-cta {
  width: 100%;
  margin: 1rem;
}

.sec-footer-cta .footer-text {
  width: 100%;
}

.sec-footer-cta .footer-text .cta-title {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
}

.sec-footer-cta .footer-text .cta-description {
  font-size: 0.9rem;
}

.link {
  padding-left: 0;
  color: white;
  text-decoration: none;
  border-bottom: none;
}

.link:hover {
  color: orange; /* Puedes ajustar el color a tu preferencia */
}


/* Media Query para pantallas muy pequeñas */
@media (max-width: 480px) {
  .sec-footer-cta .footer-text .cta-title {
    font-size: 1rem;
  }

  .sec-footer-cta .footer-text .cta-description {
    font-size: 0.8rem;
  }
}