

  .header{
    position: sticky;
    z-index: 30;
    top: 0;
  }
  .navv{
    display: flex;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 6rem;
    border-bottom: solid 1px #ddd;
    background-color: whitesmoke;
  }
  .nav__menu-bar{
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    cursor: pointer;
    background-color: whitesmoke;
    text-decoration: none;
  }
  .nav__menu-bar div{
    width: 40px;
    height: 4px;
    background-color: black;
    border-radius: 2px;
  }
  .nav__menu-list {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 7rem;
    width: 288px;
    row-gap: 24px;
    right: -20rem;
    padding: 24px 16px;
    transition: all 1s;
    min-height: calc(100vh - 60px);
    background-color: whitesmoke;
  }
  .nav__menu-list.active{
    right: 0;
  }
  
  .center{
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link-home {
  color: inherit;
  text-decoration: none;
}

.link-home:hover {
  text-decoration: none;
  color: inherit;
}

  @media screen and (min-width: 768px) {
    .nav__menu-bar{
      text-decoration: none;
      display: none;
    }
    .nav__menu-list{
      text-decoration: none;
      position: unset;
      flex-direction: row;
      min-height: fit-content;
      width: fit-content;
      column-gap: 24px;
      align-items: center;
    }
    
  }



  .menu-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4E55D9;
    color: #fff;
    border: none;
    padding: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: fixed; /* Fija la posición */
    left: 0.5rem; /* Alinea a la izquierda */
    top: 9rem; /* Ajusta la posición verticalmente según tus necesidades */
    transform: translateY(-50%); /* Centra verticalmente */
    margin-top: 0; /* Elimina el margen superior */
    margin-right: 0.5rem;
    border-radius: 0.5rem;
  }
  
  .menu-button:hover {
    background-color: #2578b7;
  }
  
  .menu-button div {
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 4px;
    transition: background-color 0.3s ease;
  }
  
  .menu-button:hover div {
    background-color: #c5d7e8;
  }
  .menu {
    padding: 2rem;
    border-radius: 0.5rem;
  margin-top: 7.5rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #4E55D9;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    padding: 10px;
  }

  .menuNon {
    border-radius: 0.5rem;
  margin-top: 7.5rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: min-content;
  background-color: #4E55D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 5px;
  }
  
  .menuNon ul {
    list-style-type: none;
    padding: 0;
  }
  
  .menuNon li {
    margin-bottom: 10px;
  }
  
  .menuNon a {
    color: #fff;
    text-decoration: none;
  }
  
  .logout-buttonNon {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .logout-buttonNon:hover {
    color: #c5d7e8;
  }

  /* Estilos para tamaños de pantalla pequeños */
@media (max-width: 576px) {
  
  .menu {
    width: 50%;
    border-radius: 0.5rem;
    margin-top: 7.5rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(0);
    transition: transform 0.3s ease;
    z-index: 1; /* Cambiado a un valor superior */
  }

  .back {
    background-color: rgba(255, 255, 255, 0.601);
    width: 100%;
    height: 100%;
    z-index: -1; /* Cambiado a un valor inferior */
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(8px); /* Aplica un desenfoque al contenido detrás */
  }

  .menuNon {
    width: 100%;
    border-radius: 0;
    margin-top: 0;
    height: auto;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
}

/* Estilos para tamaños de pantalla medianos y grandes */
@media (min-width: 577px) {
  .menu {
    width: max-content;
    border-radius: 0.5rem;
    margin-top: 12rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(0);
    transition: transform 0.3s ease;
  }

  .menuNon {
    width: min-content;
    border-radius: 0.5rem;
    margin-top: 12rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(0);
    transition: transform 0.3s ease;
  }
}

/* Estilos comunes a todos los tamaños de pantalla */
.menu {
  background-color:#4E55D9;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 10px;
}

.menuNon {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 10px;
}

.menuNon ul {
  list-style-type: none;
  padding: 0;
}

.menuNon li {
  margin-bottom: 10px;
}

.menuNon a {
  color: #fff;
  text-decoration: none;
}

.logout-buttonNon {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.logout-buttonNon:hover {
  color: #c5d7e8;
}


/*estilo para las baderitas del admin*/
.flagsadmin{
  max-width: max-content;
  width: auto;
  margin: 0.5rem;
}
