.container {
  margin-bottom: 0px; 
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.imageContainer {
  margin-bottom: 20px;
}

.thumbnail {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
}

.content {
  width: 100%;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.attributeList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.attribute {
  margin-bottom: 10px;
}

.attributeName {
  font-weight: bold;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 35px;
  margin-left: 20px;
  position:absolute;
  top: 90px;
  left: 40px
}


.link:hover {
  color: #dd2121;
}

.h3Container {
  background-color:rgba(22, 119, 37, 0.21);
  padding: 20px;
  border-radius: 8px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.h3InnerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
  }

  .imageContainer {
    margin-right: 20px;
    margin-bottom: 0;
    max-width: 600px;
    flex: 1;
  }

  .thumbnail {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .content {
    flex: 2;
  }

  .title {
    margin-top: 0;
  }
}

button.backButton {
  position: absolute;;
  align-items: center;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0;
  top: 95px;
  left: 30px
}

button.backButton svg {
  fill: #333;
  height: 2em;
  margin-right: 0.5em;
  width: 2em;
}

button.backButton:hover svg {
  fill: #666;
  cursor: pointer;
}

.fondo{
  position: absolute;
  background-color: rgba(22, 119, 36, 0.456);
  width: 100%;
  height: 100%;
}

.buttonOcultar {
  position: absolute;
  align-items: center;
  background: none;
  color: black;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0;
  top: 95px;
  right: 30px;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 3px;
  background-color:rgba(22, 119, 37, 0.21);
}

.buttonOcultar:hover {
  color: #403f3f !important;
  cursor: pointer;
  border: 2px solid rgba(22, 119, 37, 0.414);;
}

.buttonOcultar.mostrar {
  color: rgba(40, 120, 13, 0.329); 
}

.buttonOcultar.ocultar {
  color: rgb(40, 120, 13); 
}