.container_backButton {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 15px;
}

button.backButton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0;
}

button.backButton svg {
  fill: #000000;
  height: 2em;
  margin-right: 0.5em;
  width: 2em;
}

button.backButton:hover svg {
  fill:#4E55D9;
  cursor: pointer;
}

.createProduct {
  display: flex;
  justify-content: center;
  margin: 2px;
}

.containerForm {
  background-color: #4BBF68;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 70px;
}

.label {
  display: flex;
  padding: 10px;
  font-weight: bold;
  justify-content: center;
  color: whitesmoke
}

.container form input[type="text"],
.container form input[type="file"],
.container form input[type="number"],
.container form select {
  width: 100%;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box; 
  font-size: 16px;
}

.container form textarea {
  display: grid;
  align-items: center;
  padding: 10px;
  min-width: 100%;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box; 
  font-size: 16px;
}

.priceCont {
  display: flex;
  border-radius: 4px;
}

.priceTag {
  display: flex;
  width: 60px;
  align-items: center;
  justify-content: center;
  background-color: rgb(219, 219, 219);
  border-radius: 4px 0px 0px 4px ; 
  color: #4BBF68;
  font-weight: bold;
}

.priceInput {
  border-radius: 0px 4px 4px 0px !important;
}

.checkDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container form input[type="checkbox"] {
  margin-right: 5px;
}

.container form p {
  margin-top: 5px;
  color: red;
  font-size: 14px;
  margin-bottom: 0;
  height: 16px;
  overflow: hidden;
}

.container form option {
  font-size: 16px;
}

.container form select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-size: 20px;
  padding-right: 30px;
}

/* 

/// ESTE COMENTADO PQ TODAVIA NO USAMOS FILE
.container form input[type="file"] {
  border: none;
  outline: none;
}

//// NO HAY NINGUNA CLASSNAME LLAMABA discountP

.discountP {
  margin-top: 5px;
  font-weight: bold;
}

/// ESTOS TODAVIA NO LOS CHEQUEE

.container form select:focus {
  outline: none;
  border-color: #062a50;
}

.container form select::-ms-expand {
  display: none;
}

.container form textarea {
  resize: vertical;
}

.container form textarea:focus {
  border-color: #062a50;
}

.container form input[type="text"]:focus,
.container form input[type="number"]:focus,
.container form select:focus {
  border-color: #062a50;
}
.container_submit {
  display: grid;
  justify-content: center;
  align-items: center;
}

.container form button.submitButton {
  border-radius: 5px;
  font-size: 40px;
  background-color: #4caf50;
  padding: 10px 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container form button.submitDisabledButton {
  border-radius: 5px;
  font-size: 40px;
  background-color: #6a866b;
  padding: 10px 20px;
  color: #fff;
  border: none;
  cursor:not-allowed;
  transition: background-color 0.3s ease;
}

.container form button.backButton {
  background-color: #d32f2f;
}*/

