.container {
  grid-column: span 1;
  position: relative;
  height: 70vh;
  margin: auto;
  padding: 1rem;
  border: 1px solid;
  border-radius: 0.5rem;
  background-color: #ffffff;
  overflow: scroll; 
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: auto;
  margin-left: 1.5rem;
  margin-top: 1rem;
  /* height: 90vh; */
}

.order {
  background-color: #f9fafb;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  padding: 0.5rem;
}

.order:hover {
  background-color: #f3f4f6;
}

.faShop {
  background-color: #0E5ABC;
  border-radius: 0.5rem;
  padding: 0.75rem;
}

.textContainer {
  padding-left: 1rem;
}

.date {
  display: flex;
  /* display: none; Segun esto se oculta en pantallas medianas y más chicas */
  position: absolute;
  right: 1.5rem;
  font-size: 0.875rem;
}
