.container {
  /* grid-column: span 1; */
  /* position: relative; */
  /* margin: auto; */
  padding: 1rem;
  border: 1px solid;
  border-radius: 0.5rem;
  overflow: scroll; 
  display: flex;
  flex-direction: column;
  min-width: 50%;
  width: 45%;
  margin-left: 1.5rem;
  margin-top: 1rem;
  min-height: 70vh;
  overflow-x: hidden;
  height: 90vh;
}

.order {
  background-color: #8491D9;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  padding: 0.5rem;
}

.order:hover {
  background-color: #4E55D9;
}

.faShop {
  background-color: #ffffff;
  color:#8491D9 ;
  border-radius: 0.5rem;
  padding: 0.75rem;
}

.textContainer {
  padding-left: 1rem;
  
}

.date {
  display: flex;
  justify-content: flex-start;
  font-size: 0.875rem;
}
