.navbar {
  display: flex;
  z-index: 1;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.rightContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leftContainer {
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 25px;
  margin: 0px 20px 0px 15px;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.logoE {
  width: 32px;
  height: 32px;
  margin-right: 5px;
  margin-top: 10px;
}

.iconCarrito {
  width: 75px;
  height: 75px;
  margin-right: 0;
  margin-top: 8px;
}

.logoLam {
  height: 46px;
}

.flags select {
  padding: 5px;
  cursor: pointer;
  color: #000000;
  outline: none;
  font-size: 15px;
  background-color: #fff;
  border: none; /* Change '1px solid transparent' to 'none' */
}

.flags select:hover,
.flags select:active {
  padding: 5px;
  color: #000000;
  outline: none;
  font-size: 15px;
  background-color: #fff;
  border: none; /* Change '1px solid transparent' to 'none' */
}

.searchBar {
  position: relative;
}

.searchBar input {
  color: #838384;
  padding: 5px 70px 5px 10px;
  margin-right: 0px;
  margin-left: 45px;
  font-size: 16px;
  border: 1px solid #838384;
  border-radius: 3px;
  background-color: rgb(238, 238, 238);
  outline: none;
  appearance: none;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background-image: none;
}

.searchBar input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}


.searchBar input[type="search"]::-ms-clear {
  display: none;
}

.searchBar input::placeholder {
  color: #838384;
  font-size: 16px;
}

.error {
  position: absolute;
  top: 100%;
  left: 50px;
  top:40px;
  width: 100%;
  font-size: 14px;
  color: red;
}
    
  .button{
    background-color: transparent;
    text-decoration: none;
    color:  #4E55D9;
    align-items: center;
    justify-content: center;
    min-width: 80px;
    font-size: 18px;
    font-weight: 200;
    padding: 10px;
    margin-left: 0px;
    cursor: pointer;
    border: none;
    border-top: 2px solid transparent;
  }
  
.button:hover{
  color:  #2d33a1;
  font-weight: 400;
}

.modal {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 9999;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.5);
    }
    
    .modalContent {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      max-width: 400px;
      text-align: center;
    }
    
    .modalContent h2 {
      font-size: 18px;
      margin-bottom: 10px;
    }
    
    .modalContent p {
      font-size: 16px;
      margin-bottom: 20px;
    }
    
    .modalButtons {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
    
    .modalButtons .modalButton {
      margin: 0 10px;
      padding: 8px 16px;
      font-size: 14px;
      border-radius: 4px;
      cursor: pointer;
    }
    
    .modalButtons .modalButton:first-child {
      background-color: #e74c3c;
      color: #fff;
    }
    
    .modalButtons .modalButton:last-child {
      background-color: #ccc;
      color: #333;
    }

  
.cartContainer{
  display: flex;
  flex-direction: row-reverse;
  height: 50px;
  width: 60px;
}   

.cartButton{
  background-color: transparent;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  margin-left: 0px;
  cursor: pointer;
  border: none;
} 

.productsNumber {
  cursor: pointer;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: lighter;
  color: white;
  z-index: 1;
  background-color: #4E55D9;
  border-radius: 50%;
  padding: 8px;
  animation: moveNotification 0.2s infinite alternate;
}

    @keyframes moveNotification {
      0% {
        transform: translatey(0);
      }
      100% {
        transform: translatey(2px);
      }
    }

   /*  @keyframes stopNotification {
      0% {
        transform: translateY(4px);
      }
      100% {
        transform: translateY(4px);
      }
    }
    
    .productsNumber:not(.animate) {
      animation: stopNotification 0s forwards;
      animation-delay: 15s;
    }
     */