.componentContainer {
  font-family: "Montserrat", sans-serif;
  margin: none;
  padding: none;
}

.purchaseContainer {
    font-family: "Montserrat", sans-serif;
    margin: none;
    padding: none;
    min-height: 80vh;
}
  
.tabsContainer {
  /* max-width: 70vw; */
  min-height: 50vh;
  margin: 30px 50px 0px 50px;
  padding: 20px;
  background-color: rgb(230, 230, 230);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.tab {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  background-color: whitesmoke;
  border: 1px solid grey;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  margin-right: 5px;
}
  
.tab.active {
  background-color: #0fa832;
  border-color: #ccc #ccc #fff;
  border-bottom: 1px solid #fff;
}

.tab-panel {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 4px 4px 4px;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  text-align: center;
}

.backButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.backButton:hover {
  background-color: #0056b3;
}

.backButton:disabled {
  background-color:  #1a7ee9;
  cursor: not-allowed;
}

.continueButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color:  #4BBF68;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.continueButton:hover {
  background-color:  #3ca957;
}

.continueButton:disabled {
  background-color:  #7ED994;
  cursor: not-allowed;
}

.container form input[type="text"],
.container form select {
  width: 100%;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box; 
  font-size: 16px;
  background-color: whitesmoke;
}

.label {
  display: flex;
  padding: 10px;
  font-weight: bold;
  justify-content: flex-start;
  color:black
}

.containerDelivery {
  width: 100%;
  display:flex ;
  flex-direction: row;
}

.containerDeliveryForm {
  display: flex;
  flex-direction: column;
}