.container {
    display: flex;
    width: 100%;
    align-items: center;
  }
  
  .container_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px;
    width: 100%;   
  }

  .card_element_container {
    display: flex;
    flex-direction: column;
    height: 200px;
    padding: 20px 0px;
    margin: auto;
    margin-bottom: 40px;
    width: 800px;
  }

  .cardElement {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ccc;
  }

  .cardLabel {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
  }
  

  .cardLabel p {
    display: inline;
    font-weight: bolder;
    font-size: 18px;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .continueButton {
    width: fit-content;
    margin-left: auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color:  #4BBF68;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #276bb3;
  }
  
  .resume_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    background-color: #fff;
    box-shadow:  2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 4px;
    width: 900px;
    margin: 20px;
  }

  .resumeContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 20px 0px 0px 0px;
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid #ccc;
  }
  
  .resume_info {
    font-size: 20px;
    margin: 8px;
    color: #555;
  }
  
  .resume {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
 height: 150px;
  max-width: 400px;
  text-align: center;
}

.modalContent h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.modalContent p {
  font-size: 16px;
  margin-bottom: 20px;
}

.modalButtons {
  display: flex;
  justify-content: center;
}

.modalButtons button {
  margin-top: 20px;
margin-left: 30px;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.modalButtons button:first-child {
  background-color: #e74c3c;
  color: #fff;
}

.modalButtons button:last-child {
  background-color: #ccc;
  color: #333;
}

.card-element-container {
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.productTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.productPrice {
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  font-weight: bolder;
  color: #4BBF68;
  margin-bottom: none;
}