button.backButton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 15px;
  margin-left: 30px;
}

button.backButton svg {
  fill: #000000;
  height: 2em;
  margin-right: 0.5em;
  width: 2em;
}

button.backButton:hover svg {
  fill: rgb(165, 182, 199);
  cursor: pointer;
}

.container {
  margin: 10px 50px 5px 50px;
  padding: 20px;
  background-color: rgb(230, 230, 230);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.h3Container {
  background-color: rgb(230, 230, 230);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 8px;
  margin: 30px 50px 5px 50px;
}

.h3InnerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.imageContainer {
  margin-bottom: 20px;
}

.thumbnail {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
}

.content {
  width: 100%;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.attributeList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.attribute {
  margin-bottom: 10px;
}

.attributeName {
  font-weight: bold;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.original_price {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-decoration: line-through;
}

.sale_price {
  font-weight: bolder;
  color: #4BBF68;
  font-size: larger;
  font-size:20px;
}

.link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 35px;
  margin-left: 20px;
  position:absolute;
  top: 90px;
  left: 40px
}


.link:hover {
  color: #dd2121;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
  }

  .imageContainer {
    margin-right: 20px;
    margin-bottom: 0;
    max-width: 600px;
    flex: 1;
  }

  .thumbnail {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .content {
    flex: 2;
  }

  .title {
    margin-top: 0;
  }
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-around;
  height: 400px 
}

.buttonOcultar {
  align-items: center;
  color: white !important;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 8px;
  width: 100px;
  transition: background-color 0.3s;
  background-color:rgb(19, 171, 42);
}
.buttonOcultar:hover {
  background-color: rgb(22, 119, 37);;
}

.buttonOcultar.mostrar , .buttonOcultar.ocultar{
  color: rgb(40, 120, 13); 
}

.buttonDelete{
  align-items: center;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 10px;
  width: 100px;
  transition: background-color 0.3s;
  background-color:rgb(230, 35, 9);
}
.buttonAddCart {
  align-items: center;
  background: none;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 10px;
  width: 100px;
  transition: background-color 0.3s;
  background-color:rgb(42, 57, 220)
}
.buttonAddCart:hover {
  background-color: rgb(29, 40, 158);
}

.buttonDelete:hover {
  background-color:rgb(183, 28, 8);
}

.buttonEdit{
  align-items: center;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 10px;
  width: 100px;
  transition: background-color 0.3s;
  background-color:rgb(238, 170, 10);
}

.buttonEdit:hover {
  background-color:rgb(201, 144, 12);
}

.hiddenProductTag {
  background-color: #333;
  color: white;
  font-weight: bolder;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 3px;
}

.hideTag {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  text-align: center;
}

.modalContent h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.modalContent p {
  font-size: 16px;
  margin-bottom: 20px;
}

.modalButtons {
  display: flex;
  justify-content: center;
}

.modalButtons button {
  margin: 0 10px;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.modalButtons button:first-child {
  background-color: #e74c3c;
  color: #fff;
}

.modalButtons button:last-child {
  background-color: #ccc;
  color: #333;
}