/* 
  .header{
    position: sticky;
    z-index: 30;
    top: 0;
  } */
  /* .navv{
    display: flex;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 6rem;
    border-bottom: solid 1px #ddd;
    background-color: rgb(46, 20, 150);
  } */

  
  .nav__menu-bar{
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    cursor: pointer;
    background-color: whitesmoke;
    text-decoration: none;
  }
  .nav__menu-bar div{
    width: 40px;
    height: 4px;
    background-color: black;
    border-radius: 2px;
  }
  .nav__menu-list {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 7rem;
    width: 288px;
    row-gap: 24px;
    right: -20rem;
    padding: 24px 16px;
    transition: all 1s;
    min-height: calc(100vh - 60px);
    background-color: whitesmoke;
  }
  .nav__menu-list.active{
    right: 0;
  }
  
  .center{
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link-home {
  color: inherit;
  text-decoration: none;
}

.link-home:hover {
  text-decoration: none;
  color: inherit;
}

  @media screen and (min-width: 768px) {
    .nav__menu-bar{
      text-decoration: none;
      display: none;
    }
    .nav__menu-list{
      text-decoration: none;
      position: unset;
      flex-direction: row;
      min-height: fit-content;
      width: fit-content;
      column-gap: 24px;
      align-items: center;
    }
    
  }

