.userDetails {
    text-align: center;
    padding: 20px;
  }
  
  .userDetailsName {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .userDetailsInfo {
    margin-top: 30px;
  }
  
  .userDetailsLabel {
    font-weight: bold;
  }
  
  .userDetailsButton {
    margin-top: 20px;
  }
  
  @media (max-width: 576px) {
    .userDetailsName {
      font-size: 20px;
    }
  }
  