.body {
    display: flex;
    flex-direction: row;
}

.main {
   
    padding: none;
    margin: none;
}
.h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
  
.a {
    text-decoration: none;
    color: #000;
    margin-right: 10px;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.h5 {
    font-size: 18px;
    text-align: center;
    margin-top: 100px;
}
.product-column {
    margin-left: 0px; 
  }

  .error {
    display: flex;
    position: fixed;
    top: 30%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color:  #4E55D9;
    border-radius: 15px;
    color: #fcfcfc;
    padding: 20px;
    z-index: 1000;
}

.error h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.error p {
    font-size: 1.2em;
}