 
.h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
  
.a {
    text-decoration: none;
    color: #000;
    margin-right: 10px;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginado {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
  
.h5 {
    font-size: 18px;
    text-align: center;
    margin-top: 100px;
}
.product-column {
    margin-left: 0px; /* Ajusta el margen izquierdo según sea necesario */
  }