.cartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.cartProducts {
  width: 100%;
}

.productContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.productImage img {
  width: 100px;
  height: 100px;
}

.productInfo {
  flex-grow: 1;
  margin: 0 10px;
}

.productTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.productPriceDiscount {
  font-size: 16px;
  text-decoration: line-through;
  opacity: 0.9;
  font-style: italic;
}

.productPrice {
  font-size: 16px;
}

.productActions button {
  margin-left: 10px;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
}

.deleteButton {
  background-color: #dc3545;
  color: #fff;
  cursor: pointer;
}

.buyButton {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.resumeContainer {
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.resumeHeader {
  margin-bottom: 10px;
}

.resumeTitle {
  font-size: 24px;
  font-weight: bold;
}

.resumeDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.resumeText {
  font-size: 16px;
}

.resumePrice {
  font-size: 16px;
  font-weight: bold;
}

.resumeActions button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 4px;
}

.continueButton {
  cursor: pointer;
}

.quantityContainer {
  display: flex;
  align-items: center;
}

.quantityButton {
  padding: 4px;
  font-size: 16px;
  cursor: pointer;
}

.quantity {
  margin: 0 10px;
  font-size: 16px;
  font-weight: bold;
}
