.cartContainer {
  display: flex;
  flex-direction: column;
}

button.backButton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 15px;
  margin-left: 30px;
}

button.backButton svg {
  fill: #000000;
  height: 2em;
  margin-right: 0.5em;
  width: 2em;
}

button.backButton:hover svg {
  fill: rgb(165, 182, 199);
  cursor: pointer;
}

.cartProducts {
  width: 100%;
  padding: 10px 50px 5px 50px;
  
}

.productContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.productImage img {
  width: 100px;
  height: 100px;
  margin-right: 15px;
}

.productInfo {
  flex-grow: 1;
  margin: 0 10px;
}

.productTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.productPriceDiscount {
  font-size: 16px;
  text-decoration: line-through;
  opacity: 0.9;
  font-style: italic;
}

.productPrice {
  font-size: 16px;
  font-weight: bolder;
  color: #4BBF68;
}

.productPricesContainer {
  display: inline;
}

.productActions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .productActions button {
  margin-left: 10px;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
} */

.resumeContainer {
  display: flex;
  flex-direction: column;
  margin: 20px 50px 0px 50px;
  padding: 10px 20px 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.resumeHeader {
  margin-left: 50px;
  
}

.resumeTitle {
  font-size: 24px;
  font-weight: bold;
  color: #4BBF68;
}

.resumeDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.resumeText {
  font-size: 16px;
  font-weight: bold;
}

.resumePrice {
  font-size: 16px;
  font-weight: bold;
}

.resumeActions {
  display: flex;
  width: 95%;
  flex-direction: column;
  align-items: flex-end;
}

.continueButton {
  background: none;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  border: 2px solid transparent;
  border-radius: 8px;
  margin-top: 25px;
  padding: 10px;
  width: 200px;
  transition: background-color 0.3s;
  background-color:rgb(42, 57, 220);
}

.continueButton:hover {
  background-color: rgb(29, 40, 158);
}

.quantityContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc; 
  border-radius: 4px; 
  margin-bottom: 10px;
}

.quantityButton {
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
  margin: 10px;
}

.quantityButton:hover {
  background-color: #b9bcc0;
}

.quantity {
  margin-left: 0 10px;
  font-size: 16px;
  font-weight: bold;
}

.deleteButton {
  justify-content: center;
  background: none;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  border: 2px solid transparent;
  border-radius: 8px;
  /* padding: 10px; */
  width: 46px;
  transition: 0.05s;
} 

.deleteButton img {
  max-height: 68px;
}

.deleteButton:hover {
  scale: 1.1;
}

.buyButton {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.buyButton:hover {
  background-color: #034e9f;
}

.titleProducts {
  display: flex;
  justify-content: center;
  font-weight: bolder;
}

/* Modal Para loguearse */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  z-index: 4;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  text-align: center;
}

.modalContent h2 {
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.modalContent p {
  font-size: 16px;
  margin-bottom: 20px;
}

.closeModal {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  font-size: 18px;
  font-weight: bolder;
}

.disabledButton {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
  opacity: 0.5;
}

.disabledButton:hover {
  background-color: #ccc;
}