.price {
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    margin: 10px;
    border: 2px solid rgb(223, 223, 223);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
}


.card:hover {
    transform: scale(1.1);
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 3rem;
    max-height: fit-content;
    margin: 10px;
    border: 2px solid rgb(223, 223, 223);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
}

  
.card img {
    width: 100%;
    height: 60%;
    object-fit: contain;
}

.cardDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
    margin: 10px;
}

.link {
    text-decoration: none;
}

.title {
    max-width: 100%;
    color: black;
    font-size:21px;
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
}

.thinTitle {
    max-width: 400px; 
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card:hover .thinTitle {
    max-width: 400px;
    white-space: wrap;
    overflow: visible;
}


.price {
    margin-top: 15px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: large;
}

.category {
    display: inline-block;
    background-color: #4BBF68;
    color: white;
    padding: 6px 12px;
    font-weight: bold;
    border-radius: 4px;
    text-transform: capitalize;
}
.unlistedCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 420px;
    height: 450px;
    margin: 10px;
    border: 2px solid rgb(223, 223, 223);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff; /* color de fondo distinto */
    opacity: 0.7; /* semitransparente */
    position: relative;
}

.unlistedCard:before {
    content: "Producto oculto"; 
    position: absolute;
  top:1px;
    left: 49px;
    font-size: 25px;
    color: rgb(50, 94, 0);
    font-weight: bold;
    writing-mode: vertical-rl; /* orientación vertical del texto */
    transform: rotate(220deg);
}
  
.unlistedCard:hover {
    transform: scale(1.1);
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 420px;
    min-height: 450px;
    max-height: fit-content;
    margin: 10px;
    border: 2px solid rgb(255, 249, 249);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff; /* color de fondo distinto al pasar el cursor */
    opacity: 1; /* al pasar el cursor se vuelve completamente opaco */
}

.unlistedCard img {
    width: 100%;
    height: 60%;
    object-fit: contain;
}