
.modal {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(0, 0, 0, 0.5);
z-index: 1;
}

.modalContent {
background-color: #fff;
padding: 20px;
border-radius: 8px;
max-width: 400px;
text-align: center;

}

.modalContent h2 {
font-size: 18px;
margin-bottom: 10px;
}

.modalContent p {
font-size: 16px;
margin-bottom: 20px;
}

.modalButtons {
display: flex;
justify-content: center;
}

.modalButtons button {
margin: 0 10px;
padding: 8px 16px;
font-size: 14px;
border-radius: 4px;
cursor: pointer;
}

.modalButtons button:first-child {
background-color: #e74c3c;
color: #fff;
}

.modalButtons button:last-child {
background-color: #ccc;
color: #333;
}

.container{
background-color: rgb(230, 230, 230);
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
padding: 20px;
border-radius: 8px;
margin: 30px 50px 5px 50px;
}

.reviewsContainer {
padding: 20px;
}

.reviewBody {
  background-color: #fff;
  border: 1px transparent;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 20px 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  height: 150px;
  max-height: fit-content;
  }

.newReview{
  background-color: #fff;
  border: 1px transparent;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 20px 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttonDelete{
align-items: center;
color: white;
cursor: pointer;
border: 2px solid transparent;
border-radius: 5px;
font-size: large;
width: 80px;
padding: 0px 5px;
background-color:rgb(230, 35, 9);
}

.buttonDelete:hover {
background-color:rgb(183, 28, 8);
}

.topCont {
display: flex;
justify-content: space-between;
}

.userName {
font-weight: bolder;
font-size: 20px;
}

.rating{
font-size: 16px;
}

.reviewText{
font-size: 20px;
min-height: 15vh;
}

.reviewTitle {
  font-weight: bolder;
  font-size: 18px;
  display: flex;
  width: 200px;
}

.stars {
  height: 40px;
}

.error {
  color: red;
}
.textarea {
  font-size: 18px;
  height: 100px;
  resize: vertical;
  min-height: 90px;
  max-height: 250px;
  background-color: whitesmoke;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.submitButton {
  background-color: #4BBF68;
  margin-top: 20px;
  width: 100px;
  padding:8px;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: large;
  width: 80px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}

.submitButton:hover {
  background-color: rgb(22, 119, 37);

}

.submitButton:disabled {
  cursor: not-allowed;
  background-color: rgba(22, 119, 37, 0.404);
}

.averageRating {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  padding: none;
}

.averageStar {
  height: 50px;
}

.averageRating p {
  font-weight: bold;
  font-size: 20px;
  padding-right: 10px;
  justify-content: center;
  height: 30px;
}