
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    text-align: center;
   
  }
  
  .modalContent h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .modalContent p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .modalButtons {
    display: flex;
    justify-content: center;
  }
  
  .modalButtons button {
    margin: 0 10px;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modalButtons button:first-child {
    background-color: #e74c3c;
    color: #fff;
  }
  
  .modalButtons button:last-child {
    background-color: #ccc;
    color: #333;
  }

  .textarea {
    width: 40vw;
    height: 15vh; 
    resize: none; 
    font-size: 20px;
  }

  .buttonAgregar{
    position: relative;
    left: 117vh;
    background: none;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 10px;
    width: 100px;
    background-color:rgb(42, 57, 220)
  } 
  .buttonAgregar[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .buttonAgregar:hover {
    background-color: rgb(29, 40, 158);
  }

  
  .container{
    background-color: rgb(230, 230, 230);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 8px;
    margin: 30px 50px 5px 50px;
    }
  

  .secondContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
.secondContainerCalificaicon{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 5px;

}

.buttonDelete{
  align-items: center;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 10px;
  width: 100px;
  background-color:rgb(230, 35, 9);
}
.buttonDelete:hover {
  background-color:rgb(183, 28, 8);
}
.buttonDelete[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
.parrafo{
  background-color: #fff;
  font-size: 20px;
  min-height: 15vh;

}

.puntaje{
  font-size: 25px;
}