  .container{
    font-family: "Montserrat", sans-serif;
    padding: none;
    margin: none;
    background-color:#8491D9;
    border-radius: 5px;
    margin: 10px 50px 5px 50px;
    padding: 20px;
    display: grid;
    grid-gap: 70px;
  }
  .image{
    max-height: 100px;
    margin-right: 20px;
  }

  .titleSales{
    color: white;
    font-size: 25px;
  }

  .productContainer{
    display: flex;
    align-items: center;

  }

  .dataContainer{
    display: flex;
    flex-direction: column;
  }

  
  
  .dataContainer p {
    font-size: 18px; /* Tamaño de fuente del título del producto */
    margin-bottom: 10px; /* Espacio entre el título y el precio */
  }
  
  .dataContainer h3 {
    font-size: 16px; /* Tamaño de fuente del precio */
  }